.navbar-nav {
  margin-left: 70%;
}

.heading {
  margin-top: 10%;
}

.heading h1 {
  width: 50%;
  margin-bottom: 25px;
}

.social-medias ul {
  list-style: none;
  display: flex;
  gap: 35px;
  padding-left: 0;
}